
#devcontrol input, #devcontrol button, #devcontrol .form-item {
  padding: 3px;
  margin: 0;
}

#devcontrol a {
  text-decoration: none;
}
#devcontrol a:hover {
  text-decoration: underline;
}

#devcontrol, #devcontrol * {
  color: white;
  font-size: 12px;
  background: #356AA0;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 11px;
}

#devcontrol {
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -ms-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  padding-left: 15px;
  right: 0;
  -webkit-box-shadow: -1px 1px 1px #000;
  -moz-box-shadow: -1px 1px 1px #000;
  -ms-box-shadow: -1px 1px 1px #000;
  box-shadow: -1px 1px 1px #000;
  border-right: none;

  position: fixed;
  bottom: 0;
  padding: 5px;
  z-index: 10000000;
  border: 1px solid black;
  border-bottom: none;
}

#devcontrol-items {
  /* Found that out accidentally in Drupal seven's CSS, but it actually makes
     the bar really nicer to look at */
  margin: 0.25em 0 0.25em 1.5em;
}

#devcontrol .devcontrol-dropdown {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  padding-left: 7px;
  right: 0;
  -webkit-box-shadow: -1px 1px 1px #000;
  -moz-box-shadow: -1px 1px 1px #000;
  -ms-box-shadow: -1px 1px 1px #000;
  box-shadow: -1px 1px 1px #000;
  border-right: none;
}

#devcontrol a {
  padding-left: 13px;
}

#devcontrol a:hover {
  background: url(icons/arrow.png) no-repeat left center;
}

#devcontrol .title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  line-height: 160%;
  margin-bottom: 3px;
}

#devcontrol .text {
  padding-left: 2px;
  font-size: 12px;
}

#devcontrol .text, #devcontrol-items, #devcontrol-items .devcontrol-item {
  float: left;
}

#devcontrol ul {
  list-style: none;
  list-style-image: none;
}

#devcontrol .devcontrol-item {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 2px;
  cursor: pointer;
  /* Default image */
  background-image: url(icons/icon-term.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#devcontrol-item-account {
  background-image: url(icons/icon-user-info.png) !important;
}

#devcontrol-item-cache {
  background-image: url(icons/icon-text.png) !important;
}

#devcontrol .devcontrol-item span.name {
  color: #356AA0; /* Fallback for stupid browsers */
  color: transparent;
  font-size: 0;
  text-indent: -10em; /* Fallback for stupid browsers */
}

#devcontrol .devcontrol-dropdown {
  display: none;
  position: absolute; /* This will be relative to #devcontrol */
  bottom: 40px;
  right: 10px;
  padding: 5px 10px;
  min-width: 140px;
}

/* Minor admin UI customization */
#devcontrol-admin-hook-search-form fieldset .form-item {
  float: left;
  display: inline;
  margin-right: 1.5em;
}

#devcontrol-export {
  border: 1px solid black;
  padding: 0.5em 1em;
}

#i-have-a-cookie {
  margin: 0.3em 0;
}

#devcontrol-item-impersonate input[type=submit] {
  float: right;
}

/*
 * Pages specific
 */

#devcontrol-page-left { 
  margin-right: 220px;
}

#devcontrol-page-right {
  float: right;
  width: 200px;
}
