
#devcontrol input, #devcontrol button, #devcontrol .form-item {
  padding: 3px;
  margin: 0;
}

#devcontrol, #devcontrol * {
  color: white;
  background: #356AA0;
}

#devcontrol {
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -ms-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: -1px 1px 1px #000;
  -moz-box-shadow: -1px 1px 1px #000;
  -ms-box-shadow: -1px 1px 1px #000;
  box-shadow: -1px 1px 1px #000;
  border-right: none;
  border: 1px solid black;
  border-bottom: none;
}

#devcontrol .devcontrol-dropdown {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  padding-left: 7px;
  -webkit-box-shadow: -1px 1px 1px #000;
  -moz-box-shadow: -1px 1px 1px #000;
  -ms-box-shadow: -1px 1px 1px #000;
  box-shadow: -1px 1px 1px #000;
  border-right: none;
}

#devcontrol a {
  padding-left: 13px;
}

#devcontrol a:hover {
  background-image: url(icons/arrow.png) no-repeat left center;
}

#devcontrol .devcontrol-item {
  background-image: url(icons/icon-term.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#devcontrol-item-impersonate {
  background-image: url(icons/icon-users.png) !important;
}

#devcontrol-item-account {
  background-image: url(icons/icon-user-info.png) !important;
}

#devcontrol-item-cache {
  background-image: url(icons/icon-trash.png) !important;
}

/*
 * Expand/unexpand control.
 */

#devcontrol-expand {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(icons/arrow-left.png) !important;
}

#devcontrol.expanded #devcontrol-expand {
  background-image: url(icons/arrow.png) !important;
}

#devcontrol.expanded  .devcontrol-item span.name {
  color: white;
}
