
#devcontrol input, #devcontrol button, #devcontrol .form-item {
  padding: 3px;
  margin: 0;
}

#devcontrol, #devcontrol * {
  color: #303030;
  background: #ccc;
}

#devcontrol * {
  background: transparent;
}

#devcontrol {
  border-top: 1px solid black;
  border-left: 1px solid black;
  background: linear-gradient(to bottom, #eaebec 0%,#c4c8cc 100%);
}

#devcontrol .devcontrol-dropdown {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding-left: 2px;
  -webkit-box-shadow: -1px 1px 1px #808080;
  -moz-box-shadow: -1px 1px 1px #808080;
  -ms-box-shadow: -1px 1px 1px #808080;
  box-shadow: -1px 1px 1px #808080;
  background: #ccc;
  background: linear-gradient(to bottom, #eaebec 0%,#c4c8cc 100%);
}

#devcontrol a {
  padding-left: 13px;
}

#devcontrol a:hover {
  background-image: url(icons/arrow-inverse.png) no-repeat left center;
}

#devcontrol .devcontrol-item {
  background-image: url(icons/icon-term-inverse.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#devcontrol-item-impersonate {
  background-image: url(icons/icon-users-inverse.png) !important;
}

#devcontrol-item-account {
  background-image: url(icons/icon-user-info-inverse.png) !important;
}

#devcontrol-item-cache {
  background-image: url(icons/icon-trash-inverse.png) !important;
}

/*
 * Expand/unexpand control.
 */

#devcontrol-expand {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(icons/arrow-left-inverse.png) !important;
}

#devcontrol.expanded #devcontrol-expand {
  background-image: url(icons/arrow-inverse.png) !important;
}

#devcontrol.expanded  .devcontrol-item span.name {
  color: #303030;
}
