
/*
 * This file contains mostly positioning and very basic theming.
 */

#devcontrol input, #devcontrol button, #devcontrol .form-item {
  padding: 3px;
  margin: 0;
}

#devcontrol a {
  text-decoration: none;
}
#devcontrol a:hover {
  text-decoration: underline;
}

#devcontrol, #devcontrol * {
  color: #303030;
  font-size: 12px;
  background: #ccc;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 11px;
}

#devcontrol {
  padding-left: 15px;
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 5px;
  padding-bottom: 1px;
  z-index: 10000000;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#devcontrol-items {
  /* Found that out accidentally in Drupal seven's CSS, but it actually makes
     the bar really nicer to look at */
  margin: 0.25em 0 0.25em 1.5em;
}

#devcontrol .devcontrol-dropdown {
  padding-left: 2px;
  right: 0;
}

#devcontrol .title {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 180%;
  margin-bottom: 3px;
}

#devcontrol .text {
  padding-left: 2px;
  font-size: 12px;
}

#devcontrol .text {
  float: left;
}

#devcontrol-items, #devcontrol-items .devcontrol-item {
  float: right;
}

#devcontrol ul {
  list-style: none;
  list-style-image: none;
}

#devcontrol .devcontrol-item {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 2px;
  cursor: pointer;
  /* Default image */
  background-image: url(icons/icon-term-inverse.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#devcontrol .devcontrol-item span.name {
  color: #ccc; /* Fallback for stupid browsers */
  color: transparent;
  font-size: 0;
  text-indent: -10em; /* Fallback for stupid browsers */
}

#devcontrol .devcontrol-dropdown {
  display: none;
  position: absolute; /* This will be relative to #devcontrol */
  bottom: 40px;
  right: 10px;
  padding: 5px 10px;
  min-width: 140px;
}

/* Minor admin UI customization */
#devcontrol-admin-hook-search-form fieldset .form-item {
  float: left;
  display: inline;
  margin-right: 1.5em;
}

#i-have-a-cookie {
  margin: 0.3em 0;
}

#devcontrol-item-impersonate input[type=submit] {
  float: right;
}

/*
 * Expand/unexpand control.
 */

#devcontrol-expand {
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#devcontrol.expanded {
  left: 0;
  border-left: none;
}

#devcontrol.expanded #devcontrol-expand {
  /* Image */
}

#devcontrol.expanded  .devcontrol-item {
  padding-left: 23px;
  margin-left: 10px;
  width: auto;
  background-position: center left;
}

#devcontrol.expanded  .devcontrol-item span.name {
  color: #303030;
  font-size: 12px;
  text-indent: inherit;
}

/*
 * Pages specific
 */

#devcontrol-page-left { 
  margin-right: 220px;
}

#devcontrol-page-right {
  float: right;
  width: 200px;
}

#devcontrol-export {
  border: 1px solid black;
  padding: 0.5em 1em;
}
